{{extend 'layout.html'}}
<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        var parscore = '{{=parscore}}';
        if (parscore != -1) {
            $('#match-output')[0].setAttribute('class', 'collapsible-header active');
        } else {
            $('#match-input')[0].setAttribute('class', 'collapsible-header active');
        }
    });

</script>
<h3>ChasePlan</h3>
<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header" id="match-input"><i class="fa fa-pencil-square-o"></i><strong>Match Statistics</strong></div>
      <div class="collapsible-body">
<div class="container">
<form action="" method="POST">
<div class="row">
    <div class="col s12">
        <div class="row">
           <div class="input-field col offset-s2 s4">
               <select class="browser-default" name="teama">
                   <option value="" disabled selected>Team A</option>
                   <option value="Australia">Australia</option>
                   <option value="Bangladesh">Bangladesh</option>
                   <option value="England">England</option>
                   <option value="India">India</option>
                   <option value="NewZealand">New Zealand</option>
                   <option value="Pakistan">Pakistan</option>
                   <option value="SouthAfrica">South Africa</option>
                   <option value="SriLanka">Sri Lanka</option>
                   <option value="WestIndies">West Indies</option>
                   <option value="Zimbabwe">Zimbabwe</option>
               </select>
           </div>
           <div class="input-field col s4">
               <select class="browser-default" name="teamb">
                   <option value="" disabled selected>Team B</option>
                   <option value="Australia">Australia</option>
                   <option value="Bangladesh">Bangladesh</option>
                   <option value="England">England</option>
                   <option value="India">India</option>
                   <option value="NewZealand">New Zealand</option>
                   <option value="Pakistan">Pakistan</option>
                   <option value="SouthAfrica">South Africa</option>
                   <option value="SriLanka">Sri Lanka</option>
                   <option value="WestIndies">West Indies</option>
                   <option value="Zimbabwe">Zimbabwe</option>
               </select>
           </div>
        </div>
        <div class="row">
            <div class="input-field col offset-s3 s6">
                <input id="target" name="target" type="number">
                <label for="target">Target</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="runs" name="runs" type="number">
                <label for="runs">Runs</label>
            </div>
            <div class="input-field col s4">
                <input id="wickets" name="wickets" type="number">
                <label for="wickets">Wickets</label>
            </div>
            <div class="input-field col s4">
                <input id="overs" name="overs" type="number">
                <label for="overs">Overs</label>
            </div>
        </div>
        <div class="row">
            <input id="match-submit" type="submit"/>
        </div>
    </div>
</div>
</form>
</div>
</div>
    </li>
    <li>
      <div class="collapsible-header" id="match-output"><i class="fa fa-angle-right"></i><strong>Prediction</strong></div>
      <div class="collapsible-body">
        <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Parscore</span>
              <p>{{=parscore}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Parscore</span>
              <p>{{=parscore}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>

      </div>
    </li>
  </ul>
</div>
